/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

div.table label:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

div.table input[type=radio][disabled] + label {
    border: 1px solid #787878;
    background-color: rgba(0, 0, 0, 0.1);
}

div.table label {
    min-width: 4em;
    width: 4em;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #212529;
    border-radius: 10px;
    margin: 2px;
}

div.table > :not(:first-child) {
    border: none;
}

div.table span input[type=radio] {
    display: none;
}

div.table span input[type=radio]:checked + label {
    background-color: rgba(0, 0, 0, 0.3);
}

table.table tr > td {
    width: 50%;
    text-align: left;
}

#show-votes-countdown {
    font-weight: bold;
}

div.fireworks {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.main {
    z-index: 2;
}

div.main > * {
    z-index: 2;
}