@model ViewModels.RoomJoinModel
@{
}
<div class="text-center align-items-start">
    <div class="form-row align-items-center">
        <label class="m-1 noselect">Room:</label>
        <label class="m-1 noselect">@Model.Guid</label>
    </div>
    <form id="join" asp-action="Room">
        <div class="form-row align-items-center">
            <label for="name" class="m-1 noselect">Your Name:</label>
            <input type="text" id="name" name="name" minLength="4" size="10" class="m-1" />
        </div>
        <div class="form-row align-items-center">
            @{
                await Html.RenderPartialAsync("_PersonType", Model?.Person?.PersonType);
            }
        </div>
        <div class="form-row align-items-center">
            <input type="hidden" id="roomName" name="roomName" class="m-1" value="@Model.Guid" />
            <input type="submit" value="Join room" class="m-1" />
        </div>
    </form>
</div>